.App {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.font-all {
  font-family: "Montserrat", sans-serif;
}

.bg-home {
  background-image: url(./assets/images/bg-home.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  padding-left: 3vh;
  padding-right: 3vh;
  padding-top: 1vh;
}

.screen-margin-all {
  margin-left: 3vh;
  margin-right: 3vh;
  margin-top: 1vh;
}

.very-small-txt {
  font-size: 1.8vh;
}

.homepage-main-txt {
  font-size: 6vw;
}

.homepage-divs {
  padding: 0;
  margin: 0;
  float: left;
  line-height: 1.1em;
  font-weight: 500;
}

.homepage-main-cta-btn {
  margin-right: 85%;
  padding-left: 7vh;
  padding-right: 7vh;
  padding-top: 1.3vh;
  padding-bottom: 1.3vh;
  font-size: 2.5vh;
  width: 20%;
  height: 7vh;
}

.homepage-admin-create-btn {
  font-size: 3vh;
}

.logo-text {
  font-weight: 300;
  font-size: 3vh;
}

.court-owner-txt {
  font-weight: 500;
  font-size: 3vh;
}

.homepage-social-media {
  width: 100%;
}

.mt-20 {
  margin-top: 20vh;
}

.btn-padding {
  padding-left: 5vh;
  padding-right: 5vh;
  padding-top: 0.8vh;
  padding-bottom: 0.8vh;
}

.btn-margin-r {
  margin-right: 2.5vh;
}

.margin-top {
  margin-top: 8vh;
}

.margin-top-big {
  margin-top: 12vh;
}

.social-icon {
  height: 6vh;
  width: 6vh;
}
/*brbr*/
.wrapper {
  margin-top: 65px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 30px;
}
.flex-box {
  width: 200px;
  height: 200px;
  border-radius: 30px;
  margin-left: 60px;
  margin-right: 90px;
  margin-bottom: 65px;
}
.card {
  position: relative;
  text-align: center;
  color: white;
}
.title {
  position: absolute;
  top: 8px;
  left: 16px;
}
.courts {
  position: absolute;
  bottom: 8px;
  left: 16px;
}
.imgg {
  border-radius: 30px;
}
.choose-title {
  margin-left: 95px;
  margin-top: 30px;
  font-family: Montserrat;
  font-size: 43px;
}
.screen-max-width {
  max-width: 1200px;
}

/* Current Booking css  KORDY*/
.currBookingsTitle{
  font-size: 40px;
  margin-left: 40px;
}
.bookingContainer{
  padding: 20px;
  border-radius: 60px;
  background-color: #212121;
  height: 250px;
  margin: 40px;
  color: white;
  position: relative;
  cursor: pointer;
}
.bookingName{
  font-size: 45px;
  margin-left: 30px;
  font-weight: 400;
}
.courtNumber{
  font-size: 35px;
  margin-left: 30px;
  font-weight: 300;
}
.location{
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  margin-bottom: 3vh;
  margin-left: 4vh;
  justify-content: center;
  justify-items: center;
  align-items: center;
  white-space: nowrap;
}
.locationImg{
  width: auto;
  height: 2.5vh;
  margin-right: 1vh;
}
 .locationName{
  font-size: 25px;
  font-weight: 12em;
}
.price{
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 6vh;
  margin-right: 6vh;
  margin-bottom: 2vh;
}
.time{
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 2vh;
  margin-right: 6vh;
  font-size: 35px;
}
.clockImg{
  margin-right: 2vh;
  width: 3vw;
  height: auto;
  padding: 0;
}

